
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Guniho Branda</title>
   
	<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

   

	<link rel="stylesheet" type="text/css" href="../css/style2.css">
	


</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="70" >
	<!-- loader -->
	<div class="bg-loader">
		<div class="loader"></div>
	</div>

	<!-- header -->
	<div class="medsos">
		<div class="container">
			<ul>
				<li><a href="#"><i class="fab fa-facebook"></i></a></li>
				<li><a href="#"><i class="fab fa-youtube"></i></a></li>
				<li><a href="#"><i class="fab fa-twitter"></i></a></li>
			</ul>
		</div>
	</div>
    
	<header>
		
		<!-- <h1><a href="index.html">Guniho Branda</a></h1> -->
		<ul>
			<li><a href="/index">HOME</a></li>
			<li><a href="/users/home">KURSUS</a></li>
			<li><a href="/materi">MATERI</a></li>
			<li class="dropdown"><a href="#">SERVICE</a>
				<ul class="isi-dropdown">
					<li><a href="/sense">SENSEI</a></li>
					<li style="margin-left: 0px;margin-right: 0px;"><a href="/faq" style="margin:0px  14px 0px 15px">FAQ</a></li>
					<li><a href="/berita" style="margin-left:10px">NEWS</a></li>

				</ul>
			</li>
			<li><a href="/about">ABOUT</a></li>
			<li style="color:#648C8C;margin:20px 44px 2px 44px;"></li>
		</ul>
		<div  class="aau">
			<img  style="float:left;  color: transparent;" src="logo2.png" />
		</div>	<!-- label -->
	<!-- label -->
	<section class="labelsense" style="background-color: #000000;        padding: 145px 0">
		<h1 style="font-weight: bold; font-size:60px;padding-left: 1839px;    padding: 4px 124px;color:#fbfbfc;background-color:transparent"> Sensei</h1><br/><br/><br/>
		<haa class="hii" style="font-weight: bold; font-size:30px;padding-left: 124px;background-color:transparent; color:#fbfbfc"> Pengajar Kami</ha>
	</section>

</header>

	<!-- baris -->
	<div class="medsos">
		<div class="container">
			
			
				<atur >Home / Service / Sensei </atur>
		</br>


        
		</div>
	</div>
    <section  style="background-color: #D1D5D4;" class="service" >
        <div class="container" >

             <h1  style=" text-align: center ;padding-bottom:20px">Team Pengajar   </h1>
			 <h3  style=" text-align: center;margin-top:70px;font-size:40px;margin:90px 0px 0px 390px">Lydia Mawar - CEO & Sensei</h3>
			 <h3 style=" text-align: right ; margin-right:80px;margin-top :3px;"> <a href="#" style="font-size:27px ; margin:0px 50px 0px 0px" ><img src="/instagram.svg" class="fab fa-whatsapp" style="height:50px;margin-right: -58px"> L_Mawar@gmail.com <br/></img></a> </br> <a href="#" style="font-size:27px; margin: 150px 100px 0px  0px;margin-top:0px"><img src="/whatsapp.svg" class="fab fa-whatsapp" style="height:50px;margin-right: -60px;"> +62812-8687-3422 </a><br/><br/> <a href="#" style="font-size:27px; margin: 150px 210px 0px  0px;margin-top:0px"><img src="/linkedin.png" class="fab fa-whatsapp" style="width: 90px;height:65px;margin-right: 0px;"> L_Mawar </a></h3>

<img src="sense1.png" style="border-radius:57px ;float:left; padding-left:30px;margin:-385px -190px 10px 0px; width:40% ;height:40%; " />

            </br></br></br></br></br></br></br></br></br>
            
			<h3  style=" text-align: center;margin-top:30px;font-size:40px;margin:-120px 627px 0px 0px">Gamel - Sensei</h3>
			<h3 style=" text-align: left ; margin-left:8px;margin-top :3px;"> <a href="#" style="font-size:27px ; margin:0px -0px 0px -50px" ><img src="/instagram.svg" class="fab fa-whatsapp" style="height:50px;margin-right: -58px"> Gamel@gmail.com <br/></img></a> </br> <a href="#" style="font-size:27px; margin: 150px 0px 5px  -50px;margin-top:0px"><img src="/whatsapp.svg" class="fab fa-whatsapp" style="height:50px;margin-right: -55px;"> +62812-8687-3422 </a><br/><br/> <a href="#" style="font-size:27px; margin: 150px 210px 2px  5px;margin-top:0px"><img src="/linkedin.png" class="fab fa-whatsapp" style="width: 90px;height:65px;margin-right: 0px;"> Gamel </a></h3>

<img src="sense2.png" style="border-radius:57px ;float:right; margin:-395px 15px 10px 0px; width:40% ;height:40%; " />

            </br></br></br></br></br></br></br></br></br>
			<h3  style=" text-align: center;margin-top:70px;font-size:40px;margin:-120px 0px 0px 340px">Andria Wijaya - Sensei</h3>
			<h3 style=" text-align: right ; margin-right:80px;margin-top :3px;"> <a href="#" style="font-size:27px ; margin:0px 50px 0px 0px" ><img src="/instagram.svg" class="fab fa-whatsapp" style="height:50px;margin-right: -58px"> A_Wijaya@gmail.com <br/></img></a> </br> <a href="#" style="font-size:27px; margin: 150px 100px 0px  0px;margin-top:0px"><img src="/whatsapp.svg" class="fab fa-whatsapp" style="height:50px;margin-right: -60px;"> +62812-8687-3422 </a><br/><br/> <a href="#" style="font-size:27px; margin: 150px 210px 0px  0px;margin-top:0px"><img src="/linkedin.png" class="fab fa-whatsapp" style="width: 90px;height:65px;margin-right: 0px;"> A_Wijaya </a></h3>
			<img src="sense3.png" style="border-radius:57px ;float:left; padding-left:30px;margin:-385px -190px 10px 0px; width:40% ;height:40%; " />

            </br></br></br></br></br></br></br></br></br>
            
			<h3  style=" text-align: center;margin-top:30px;font-size:40px;margin:-120px 527px 0px 0px">Tubagus D. Maulid <br/> CTO GoNihhon</h3>
			<h3 style=" text-align: left ; margin-left:8px;margin-top :3px;"> <a href="#" style="font-size:27px ; margin:0px -0px 0px -50px" ><img src="/instagram.svg" class="fab fa-whatsapp" style="height:50px;margin-right: -58px"> T_D,Maulid@gmail.com <br/></img></a> </br> <a href="#" style="font-size:27px; margin: 150px 0px 5px  -50px;margin-top:0px"><img src="/whatsapp.svg" class="fab fa-whatsapp" style="height:50px;margin-right: -55px;"> +62812-8687-3422 </a><br/><br/> <a href="#" style="font-size:27px; margin: 150px 210px 2px  5px;margin-top:0px"><img src="/linkedin.png" class="fab fa-whatsapp" style="width: 90px;height:65px;margin-right: 0px;"> T_D.Maulid </a></h3>
			<img src="sense4.png" style="border-radius:57px ;float:right; margin:-395px 15px 10px 0px; width:40% ;height:40%; " />

            </br></br></br></br></br></br></br></br></br>
        

        

        </div>
    </section>





	
	<!-- footer -->
	<footer>
		<div class="container">
			<small>Copyright &copy; 2022 - Go-Project. All Rights Reserved.</small>
		</div>
	</footer>


	<script type="text/javascript">
		$(document).ready(function(){
			$(".bg-loader").hide();
		})

		
	</script>
 
   
</body>
</html>