<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <tr>
        <td><img src="login2.jpg" alt="Gambar_Langit" style="width:494px;height:373px; "></td>
        <td></td>
        
      </tr>
<br/>
             
      <p style="font-size: 22px;font-weight:bold;   margin: -13px 3px 21px 1px;text-align: center"> Selamat Datang Para Penjuang Bahasa Jepang </p>
      <p1>Buat Akun Atau Masuk?</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Daftar</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block">Masuk</a>
    </div>
  </div>
</div>
