* {
	
	margin:0%;
	font-size: 20px;

}
.text-center {
	flex: 1 1 auto;
    min-height: 1px;
    padding-top: 1.25rem;
    padding-right: 1rem;
    padding-bottom: 1.25rem;
    padding-left: 1rem
}

.project {
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.project h6 {
    font-weight: 400;
}

.project h6::before {
    content: "";
    height: 2px;
    width: 30px;
    display: inline-block;
    background: var(--brand);
    vertical-align: middle;
    margin-right: 10px;
}


.project .overlay {
    width: 100%;
    height: 220px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(255, 76, 41, 0) 0%, var(--dark) 100%);
}

.project .content {
    position: absolute;
    left: 10%;
    bottom: 10%
}

.project h2,
.project h6 {
    color: #fff;
}

.ig{
	float: center;
	width: 300px;
	height: 300px;
}

a {
	color: inherit;
	text-decoration: none;

}

p{
	margin-top: 10px;
    font-family: Poppins,sans-serif;
    font-size: 20px;
    text-align: justify;
	color: #148F77;
	font-weight: bold;
}

p1{
	margin-top: 10px;
	margin-bottom: 10px;
    font-family: Poppins,sans-serif;
    font-size: 20px;
    text-align: center;
	color: #777777;
	font-weight: bold;
	
}

body{
	margin-bottom: 0px;
	padding:0px;
	background-image: url('/gambar/login1.jpg');
	background-size:200%;
	background-position: center;
	font-family: sans-serif;
	font-size: 20px;


}




section {
    padding-top: 80px;
    padding-bottom: 80px;
}
.btn-m a {
    position: center;
	text-align: center;
    display: block;
    width: auto;
    padding: 14px 50px 14px 10px;
    background: #42c253 url(/gambar/botton.png)  50% no-repeat;
    background-size: 640px auto;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font-size: 20px;
    font-family: 'ProximaNovaCnLtSemibold', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    color: #ffffff !important;
}
.search-btn{
	color:rgb(247, 247, 247);
	float: right;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background: #148F77;
	justify-content: center;
	align-items: center;
	display: flex;
}


.search-btn2{
	color:rgb(247, 247, 247);
	float: right;
	
	background: #148F77;
	justify-content: center;
	align-items: center;
	display:inline;
}


.search-box{
	top: 16%;
	right:2%;
	background:rgb(255, 255, 255);
	margin:0 auto;
	height: 15px;
	padding:10px;
	padding-bottom: 30px;
	position:absolute;

}
.search-box1{
	color:rgb(247, 247, 247);
	box-sizing: 20px;
	font-size: 13px;
	display: inline-block;
	background: #148F77;
	padding:10px 30px;
	border-radius: 30px;
}

.search-input{
border:none;
background: none;
outline: none;
float: left;
padding: 0;
color:rgb(0, 0, 0);
font-size: 14px;
width: 60%;
line-height: 40px;


}




.medsos {
	padding:5px 0;
	background-color: #148F77;
}
.medsos ul li {
	display: inline-block;
	color: #fff;
	margin-right: 10px;
}
.container {
	
	width:80%;
	margin:0 auto;
}
.container:after {
	
	content:'';
	display: block;
	clear: both;
}
 h1 {

	color: #148F77;
}
header h1 {
	float: left;
	padding:15px 0;
	color: #148F77;
}
header ul {
	float: right;
}
header ul li {
	display: inline-block;
}
header ul li a {
	padding:25px 20px;
	display: inline-block;
}
header ul li a:hover {
	background-color: #148F77;
	color: #fff;
}
.active {
	background-color: #148F77;
	color: #fff;
}
.banner {
	height: 60vh;
	background-image: url('../img/banner.jpg');
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner:after {
	content:'';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(20, 143, 119, .6);
}
.banner h2 {
	color: #fff;
	z-index: 1;
	padding: 20px 25px;
	border:3px solid #fff;
}
section {
	padding:50px 0;
}
section h3 {
	text-align: center;
	padding:20px 0;
	color: #148F77;
	margin-bottom: 25px;
}
.about,
.service {
	padding-bottom: 100px;
}
.about p {
	color: #666;
	word-spacing: 2px;
	line-height: 25px;
	margin-bottom: 20px;
	text-align: center;
}
.service {
	background-color: #f9f9f9;
}
.box {
	color: #148F77;
}
.box:after {
	content: '';
	display: block;
	clear: both;
}


.box .div2{
	width: 950px;
	padding: 10px;
	border:transparent;
	
}

.dev3{
	width: 900px;
	padding: 10px;
	border: 1px solid rgb(255, 255, 255);
}
.foto{
	width: 900px;
	padding: 10px;
	border: 1px solid rgb(255, 255, 255);
}
img{
	float: center;
	width: 300px;
	height: 300px;

}
text1{
	text-align: right;
}
.icon {
	width:70px;
	height:70px;
	border:1px solid;
	border-radius: 50%;
	text-align: center;
	line-height: 70px;
	font-size: 20px;
	margin:0 auto;
}
.box .col-4 h4 {
	margin:50px 1;
}
footer {
	padding:30px 0;
	background-color: #333;
	color: #fff;
	text-align: center;
}
.bg-loader {
	background-color: #eee;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bg-loader .loader {
	width:100px;
	height: 100px;
	border:3px solid #fff;
	border-radius: 50%;
	border-top-color: #148F77;
	border-right-color: #148F77;
	border-bottom-color: #148F77;
	animation: puterin .8s linear infinite;
}
.label {
	background-color: #148F77;
	color: #fff;
	justify-content: space-between;

}
@keyframes puterin {
	100% {
		transform: rotate(360deg);
	}
}
@media screen and (max-width: 768px){
	.container {
		background-image: url(/gambar/header.jpg);
		width:90%;
	}
	header h1 {
		text-align: center;
		float: none;
	}
	header ul {
		text-align: center;
		float: none;
	}
	.box .col-4 {
		width:80px;
		float: none;
		margin-bottom: 10px;
	}
}



/* ini adalah csss kuis */


#container{
    margin : 20px auto;
   background-color: #2c3e50;
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
}
#start{
    font-size: 1.5em;
    font-weight: bolder;
    word-break: break-all;
    width:250px;
    height:50px;
    border : 2px solid lightgrey;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left:230px;
    top:50px;
    color : lightgrey;
}
#start:hover{
    border: 3px solid lightseagreen;
    color : lightseagreen;
}

#qImg{
    width : 200px;
    height : 200px;
    position: absolute;
    left : 0px;
    top : 0px;
}
#qImg img{
    width : 200px;
    height : 200px;
    border-top-left-radius: 5px;
}

#question{
    width:500px;
    height : 125px;
    position: absolute;
    right:0;
    top:0;
}
#question p{
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
	color:#fff;
}

#choices{
    width : 480px;
    position: absolute;
    right : 0;
    top : 125px;
    padding : 10px;
	color:#fff;
}
.choice{
    display: inline-block;
    width : 135px;
    text-align: center;
    border : 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
}
.choice:hover{
    border : 2px solid grey;
    font-weight: bold;
}

#timer{
    position: absolute;
    height : 100px;
    width : 200px;
    bottom : 0px;
    text-align: center;
}
#counter{
    font-size: 3em;
}
#btimeGauge{
    width : 150px;
    height : 10px;
    border-radius: 10px;
    background-color: lightgray;
    margin-left : 25px;
}
#timeGauge{
    height : 10px;
    border-radius: 10px;
    background-color: mediumseagreen;
    margin-top : -10px;
    margin-left : 25px;
}
#progress{
    width : 500px;
    position: absolute;
    bottom : 0px;
    right : 0px;
    padding:5px;
    text-align: right;
}
.prog{
    width : 25px;
    height : 25px;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 50%;
    margin-left : 5px;
    margin-right : 5px;
}
#scoreContainer{
    margin : 20px auto;
    background-color: white;
    opacity: 0.8;
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    display: none;
}
#scoreContainer img{
    position: absolute;
    top:100px;
    left:425px;
}
#scoreContainer p{
    position: absolute;
    display: block;
    width : 1000px;
    height :100px;
    top:210px;
    right:10px;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}