* {

    font-family: "Poppins", sans-serif;
	
}


.className{
    background-color:#004A79;
}

.container p a{
    color:aliceblue;
    size:20px;
}

.container h3{
    
    color: rgb(0, 0, 0);
    text-align: center;
}
/* navigation navbar */


li:hover,
li:focus-within {
  background: #39beaa;
  cursor: pointer;
  
}
li {
    color: rgb(0, 0, 0);
    background: #128277;
    display: block;
   
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
  }
    

.menu-malasngoding{
    background-color: #3141ff;
}

.menu-malasngoding ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu-malasngoding > ul > li {
   background-color: black;
}


.menu-malasngoding li a {
    display: inline-block;
    color: #b9c4c9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-malasngoding li a:hover{
    background-color: #2525ff;
}

li.dropdown {
    display: inline-block;
}

.dropdown:hover .isi-dropdown {
    display: block;
}

.isi-dropdown a:hover {
    color: #b9c4c9 !important;
}

.isi-dropdown {
    position:absolute;
    display: none;
    
    z-index: 2;
    background-color:#128277;
}

.isi-dropdown a {
    color: #000000 !important;
}

.isi-dropdown a:hover {
    color: #000000 !important;
    background: #b9c4c9 !important;
}
.rc-Card {
    position: relative;
    width: 100%;
    -webkit-transition: all .45s cubic-bezier(.23,1,.32,1);
    -moz-transition: all .45s cubic-bezier(.23,1,.32,1);
    -o-transition: all .45s cubic-bezier(.23,1,.32,1);
    -ms-transition: all .45s cubic-bezier(.23,1,.32,1);
    transition: all .45s cubic-bezier(.23,1,.32,1);
    border-radius: 3;
    overflow: hidden;
}



/* 
formulir  */

.formulir {
    width:420px;
    height: 520px;
    top: 50%;
    left: 50%;
    padding: 20px 30px;
    position:relative;
    background:rgba(0,0,0,0.7);
    color:rgba(20, 143, 119, .6);
    transform:translate(-50%, -50%);
    box-sizing:border-box;
    border:1px solid greenyellow;
    border-radius: 10px;
}

.btn-primary {
    margin-top: 50px;
    color: #fff;
    background-color: #eb6864;
    border-color: #eb6864;
}
.text-center {
    flex: 1 1 auto;
    min-height: 66px;
    padding-top: -0.75rem;
    padding-right: 1rem;
    padding-bottom: -27.75rem;
    padding-bottom: 1.25rem;
    padding-left: 1rem;
    padding-left: 25rem;
    padding-bottom: 1.25rem;
    padding-left: 0rem;
}

.search-btn{
	color:rgb(247, 247, 247);
	float: right;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background: #128277;
	justify-content: center;
	align-items: center;
	display: flex;
}


.search-btn2{
	color:rgb(247, 247, 247);
	float: right;
	
	background:#128277;
	justify-content: center;
	align-items: center;
	display:inline;
}


.search-box{
	top: 16%;
	right:2%;
	background:rgb(255, 255, 255);
	margin:0 auto;
	height: 15px;
	padding:10px;
	padding-bottom: 30px;
	position:absolute;

}
.search-box1{
	color:rgb(247, 247, 247);
	box-sizing: 20px;
	font-size: 13px;
	display: inline-block;
	background: #128277;
	padding:10px 30px;
	border-radius: 30px;
}

.search-input{
border:none;
background: none;
outline: none;
float: left;
padding: 0;
color:rgb(0, 0, 0);
font-size: 14px;
width: 60%;
line-height: 40px;


}

.medsos {
	padding:2px 0;
    background-image: linear-gradient(#004A79,#128277);;
}
.medsos ul li {
	display: inline-block;
	color: #fff;
	margin-right: 10px;
    background-image: linear-gradient(#004A79,#128277);;
}
.container {
	width:80%;
	margin:0 auto;
	
	
}
.container:after {
	content:'';
	display: block;
	clear: both;
}
 h1 {
    font-family: 'Times New Roman', Times, serif;
	font-weight: normal;
	color: #128277;
}
header h1 {
	float: left;
	padding:15px 0;
	color: #128277;
	background-color:#b9c4c9;
}
header ul {
	float: right;
    background-image: linear-gradient(#128277,#004A79);;
}
header ul li {
	display: inline-block;
	background-image: linear-gradient(#128277,#004A79);;
}
header ul li a {
	padding:25px 20px;

	
}
header ul li a:hover {
	background-color: #b9c4c9;
	color: rgb(12, 11, 11);

}
header ul li a:hover .btn-secondary  {
    
    background-color: #f25754;
}

.ha{
    margin-top:10px;
}


header ul  .active {
    background-color: #b9c4c9;
    color: #000000;
}

.btn-secondary {
    
    background-color: #f25754;
    color: #9e100d;
    border-color: #9e100d;
	margin-right: 8px;
	height: 50px;
}

atur {
	font-family: 'Times New Roman', Times, serif;
	font-size:20px;
	font-style: italic;
	font-weight: bold;
	color: #b9c4c9;
	
	
	
}
/* .active {
	background-color: #cece0f;
	color: #fff;
} */
.banner {
	height: 60vh;
	background-image: url('../img/banner.jpg');
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner:after {
	content:'';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(20, 143, 119, .6);
}
.banner h2 {
	color: #fff;
	z-index: 1;
	padding: 20px 25px;
	border:3px solid #fff;
}
section {
	/* padding:100px 0; */
    padding: 21px 0;
}
section h3 {
	text-align: center;
	padding:20px 0;
	color: #128277;
	margin-bottom: 25px;
}
.about,
.service {
	padding-bottom: 100px;
	    font-family: 'Times New Roman', Times, serif;
	font-weight: normal;
}
.about p {
	color: #666;
	word-spacing: 2px;
	line-height: 25px;
	margin-bottom: 20px;
	text-align: center;
}

.hii{

    font-weight: bold; font-size:30px;
    padding-left: -20px;color:rgb(255, 255, 255);
    background-color:transparent;
    text-align: left;
    margin-top:70px;
    padding-top: 70px;

}
.service {
	background-color: #f9f9f9;
    padding-top: 87px;
}
.box {
	color: #128277;
}
.box:after {
	content: '';
	display: block;
	clear: both;
}
.box .col-4 {
	width:25%;
	padding:20px;
	box-sizing: border-box;
	text-align: center;
	float: left;
}
.icon {
	width:70px;
	height:70px;
	border:1px solid;
	border-radius: 50%;
	text-align: center;
	line-height: 70px;
	font-size: 20px;
	margin:0 auto;
}
.box .col-4 h4 {
	margin:20px 0;
}
footer {
	padding:30px 0;
	background-color: #333;
	color: #fff;
	text-align: center;
}
.bg-loader {
	background-color: #eee;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bg-loader .loader {
	width:100px;
	height: 100px;
	border:3px solid #fff;
	border-radius: 50%;
	border-top-color: #128277;
	border-right-color: #128277;
	border-bottom-color: #128277;
	animation: puterin .8s linear infinite;
}
.label {
	background-color: #128277;
	background-size:1800px;
	color: #fff;
	background-image: url(/gambar/header.png);
	

}
.labelabout {
	background-color: #128277;
	background-size:1800px;
	color: #fff;
	background-image: url(/gambar/about.png);
	

}

.labelpromo {
	background-color: #128277;
	background-size:1846px;
	color: #fff;
	background-image: url(/gambar/header3.png);
	

}

.labelmateri{
    background-color: #ffffff;
	background-size:2021px;
	color: #fff;
	background-image: url(/gambar/fotomateri.png);
	
}

.labelsense{
    background-color: #ffffff;
	background-size:2021px;
	color: #fff;
	background-image: url(/gambar/header.png);
	
}

.content-m{
    color: rgb(239, 6, 6);
}

/* 
Berita */


.main_menu_area{overflow:visible; background:#2c4444; min-height:40px; margin-bottom: 30px;    border-radius: 10px;}
.main_menu_area ul{margin:0; padding:0; list-style:none ; background-color: #000;}
.main_menu_area ul li{float:left; position:relative ; background-color: #000; }
.main_menu_area ul li a{color:#FFF; display:block;font-family: 'poppins'; font-size:15px; }
.main_menu_area ul li a:hover{background:#CF0000}
.main_menu_area ul {background-color: #000}

#nav li ul{transition:all 0.3s ease 0s; -moz-transition:all 0.3s ease 0s; -webkit-transition:all 0.3s ease 0s; -o-transition:all 0.3s ease 0s; -ms-transition:all 0.3s ease 0s}


/* kelas isi */
 
.isi{
  width: 100%;
  float: left;
}
 
.isinya .col3{
  box-sizing: border-box;
  margin: 0.5%;
  width: 32.33%;
  float: left;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 10px black;
}
 
.gambar img{
  width: 100%;
  height: 40%;
  box-sizing: border-box;
}
 
.judul{
  width: 100%;
  box-sizing: border-box;
  /* background-image: linear-gradient(#004A79,#128277); */
  padding: 10px;
  background-color: #648C8C;
  padding-bottom: 4px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.judulpromo{
    width: 100%;
    box-sizing: border-box;
    /* background-image: linear-gradient(#004A79,#128277); */
    padding: 10px;
    background-color: #BCBABE;
    padding-bottom: 4px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
 
   
  }
  .tanggalpromo{
    color: white;
    background-color: #1995aD;
    padding: 10px 0px 10px 10px;
    font-size: 22px;
    font-weight: bold;
    border-radius:13px;
 
  }
  .tanggalpromo strike{
    color: white;
    background-color: #1995aD;
    padding: 10px 0px 10px 10px;
    text-decoration: line-through;
    text-decoration-color: #000000;

  }

.tanggal{
  color: white;
  background-color: #17204E;
  padding: 10px 0px 10px 10px;
}
 
.isiberita{
    padding: 5px;
    text-align: justify;
    margin-bottom: -51px;

}
 
.tombol{
  width: 100%;
  text-align: right;
}
 
.tombol a{
  text-decoration: none;
 
}


 
.tombol .btn{
  padding: 10px;
  background-color: #17204E;
  font-size: 15px;
  color: white;
  padding: 10px 20px 10px 20px;
}

.tulisanpromo{
    
        
        background-color: #A1d6e2;
        width: 100%;
        top:2px;
        font-size: 20px;
        color: rgb(0, 0, 0);
        font-weight: bold;
        padding: 14px 80px 14px 20px;
        left:20px

}


 .btnpromo    {
    background-color: #e04e46;
    position: relative;
    color:white;
    left: 200px;
    top:-1px;
    bottom:3px;
    width: 50%;
    height: 120px;
    margin-left: 8px;
    padding:10px 10px 5px 10px;
    border-radius: 12px;
    


}
 
.tombol .btn:hover{
  background-color: #DD2121;
}
 
.tag{
  clear: both;
  padding: 5px 10px 5px 10px;
  color: white;
  background-color: #17204E;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
 
}





@keyframes puterin {
	100% {
		transform: rotate(360deg);
	}
}
@media screen and (max-width: 768px){
	.container {
		width:90%;
	}
	header h1 {
		text-align: center;
		float: none;
	}
	header ul {
		text-align: center;
		float: none;
	}
	.box .col-4 {
		width:100%;
		float: none;
		margin-bottom: 20px;
	}
}

/* .auu{
	background-image: url(/gambar/header.jpg);
    background-position: center;
} */

@media (min-width: 1200px){
	.container{
		max-width: 1230px;
	}
	.container-lg{
		max-width: 1200px;
	}
	 .container-md{
		max-width: 1200px;
	 }
	 .container-sm{
		max-width: 1200px;
	 }
	  .container-xl {
		max-width: 1200px;
		
	}
	}


@media (min-width: 2400px){
.container{
	max-width: 5000px;
}
.container-lg{
	max-width: 5000px;
}
 .container-md{
	max-width: 5000px;
 }
 .container-sm{
	max-width: 5000px;
 }
  .container-xl {
    max-width: 5000px;
	
}
}

/* home */

.w-row:after, .w-row:before {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}

img{
	float: center;
	width: 120px;
	height: 100px;
	background-color: transparent;
	padding-left:24px;

}
 a img{
	float: center;
	width: 200px;
	height: 200px;

}

.w-row:after {
    clear: both;
}
.w-row:after, .w-row:before {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}
.plans-column-2 {
    padding-right: 10px;
    padding-left: 35px;
    padding-bottom: 30px;
    border-color:black;
    border-width: 1px;
    border-radius: 30px;

}
w-col-6 {
    width: 50%;
}

.w-col {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.plan-wrapper {
    min-height: 300px;
    margin-bottom: 0;
    padding: 16px;
    border-radius: 35px;
    background-color: #fff;
    color: #2b2b2b;
    text-align: center;
    border-color:black;
    border-width: 2px;
    border: 3px solid #000000; 
}
.plan-heading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
    margin-bottom: 16px;
    font-family: Poppins,sans-serif;
    color: #000;
    font-size: 36px;
    font-weight: 600;
}
h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 46px;
    font-weight: 400;
	font-family: 'Times New Roman', Times, serif;
	font-weight: normal;
}
.div-block-12 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.div-block-13 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.heading-37, .heading-38 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Poppins,sans-serif;
    font-weight: 500;
}

.heading-38, .heading-39 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Poppins,sans-serif;
    font-weight: 500;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.paragraph-3 {
    font-family: Poppins,sans-serif;
    color: #a39797;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: normal;
}

pdf a{
    width:200px;
    height:110px;
    padding:10px 5px 10px 5px;
    background-color: #81C3C9;
    color: #f9eae4;

}

p {
    margin-top: 0;
    margin-bottom: 10px;
}
p {
    margin-top: 10px;
	position: center;
    font-size: 20px;
    text-align: justify;
    color: #128277;
    font-weight: bold;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
}
.div-block-10 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.div-block-11 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}



.paragraph-40 {
    margin-bottom: 0;
    margin-left: 10px;
    font-family: Poppins,sans-serif;
    font-weight: 500;
}
.paragraph-41 {
    margin-bottom: 0;
    margin-left: 10px;
    font-family: Poppins,sans-serif;
    font-weight: 500;
}
.plan-divider {
    width: 100%;
    height: 1px;
    margin-top: 24px;
    margin-bottom: 24px;
    background-color: #c7c5c5;
    color: transparent;
}
.button-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border-radius: 20px;
    background-color: #96c9ca;
    font-family: Poppins,sans-serif;
    font-weight: 500;
    background-clip: border-box;
    -webkit-text-fill-color: inherit;
}
.w-button {
    display: inline-block;
    padding: 17px 15px;
    background-color: #96C9CA;
    color: #000;
    font-weight: bold;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 35px;
    width: 742px;
    height: 60px;
}

a {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    
    font-weight: bold;
    color: #000000;
}
.div-block-10 img {
    float: center;
    width: 30px;
    height: 30px;
	vertical-align: middle;
    border-style: none;
}
.div-block-11 img {
    float: center;
    width: 55px;
    height: 30px;
	vertical-align: middle;
    border-style: none;
}


